.frequently {
  padding: 50px 0;
  width: 100%;

  .carousel {
    width: 100%;

    .caru {
      display: flex;
      flex-direction: column;
      width: 100%;

      .c_cards {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;

        .c_row {
          display: flex;
          flex-wrap: wrap;
          gap: 15px;
          width: 100%;

          .c_col {
            flex: 1 1 20%;
            max-width: 18%;
            min-width: 180px;
            box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15);
            padding: 10px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            background-color: #fff;
            transition: transform 0.2s;

            img {
              width: 50%;
              max-width: 100px;
              height: auto;
            }

            .info {
              display: flex;
              justify-content: center;
              flex-direction: column;

              h3 {
                font-size: clamp(16px, 2.5vw, 18px);
                margin: 0;
              }

              span {
                font-size: clamp(14px, 2vw, 16px);
                font-weight: 500;
                color: #444;
              }
            }
          }
        }
      }
    }
  }

  // ===== Адаптив =====

  @media (max-width: 1200px) {
    .c_col {
      flex: 1 1 100%;
      max-width: 100%;
      flex-direction: column;
      text-align: center;
    }
  }

  @media (max-width: 980px) {
    .c_col {
      flex: 1 1 33.33%;
      max-width: 33.33%;
    }
  }

  @media (max-width: 768px) {
    .c_col {
      flex: 1 1 45%;
      max-width: 45%;
    }

    .info {
      align-items: center;

      h3 {
        font-size: clamp(16px, 3.5vw, 18px);
      }

      span {
        font-size: clamp(14px, 3vw, 16px);
      }
    }
  }

  @media (max-width: 600px) {

    .c_col img {
      width: 80px;
      margin-bottom: 10px;
    }

    .info {
      align-items: center;
    }
  }
}
